# 항공사 고객 예측 경진대회 (주최 : Dacon)

### 데이터 상세 설명

#### 이 데이터는 항공사 조직에서 제공한 것입니다. 회사의 실제 이름은 다양한 목적으로 인해 제공되지 않아 Invisistico Airlines라는 이름이 사용되었습니다.
#### 데이터 세트는 이미 함께 비행한 고객의 세부 정보로 구성됩니다. 다양한 상황과 비행 데이터에 대한 고객의 피드백이 통합되었습니다.
#### 이 데이터 세트의 주요 목적은 다른 매개변수 값의 세부사항을 고려할 때 미래의 고객이 서비스에 만족할지 여부를 예측하는 것입니다.

### 라이브러리

In [2]:
import warnings
warnings.filterwarnings("ignore")


import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn import datasets, model_selection, linear_model, ensemble,neighbors
from sklearn.metrics import mean_squared_error,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import ExtraTreesClassifier 
from sklearn.ensemble import RandomForestClassifier 
from xgboost import plot_importance
from xgboost import XGBClassifier
from vecstack import stacking
from vecstack import StackingTransformer

#### train 데이터 정리하기

In [3]:
df_train = pd.read_csv("train.csv", encoding = 'utf-8')
df_train

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,target
0,1,Female,disloyal Customer,22,Business travel,Eco,1599,3,0,3,...,4,5,4,4,4,5,4,0,0.0,0
1,2,Female,Loyal Customer,37,Business travel,Business,2810,2,4,4,...,5,5,4,2,1,5,2,18,18.0,0
2,3,Male,Loyal Customer,46,Business travel,Business,2622,1,1,1,...,4,4,4,4,5,4,3,0,0.0,1
3,4,Female,disloyal Customer,24,Business travel,Eco,2348,3,3,3,...,3,2,4,5,3,4,3,10,2.0,0
4,5,Female,Loyal Customer,58,Business travel,Business,105,3,3,3,...,4,4,4,4,4,4,5,0,0.0,1
5,6,Female,Loyal Customer,42,Business travel,Business,1780,4,4,4,...,5,5,4,5,3,5,4,0,0.0,1
6,7,Female,disloyal Customer,20,Business travel,Eco,2980,3,3,3,...,5,1,5,3,1,4,5,12,34.0,0
7,8,Male,Loyal Customer,38,Business travel,Eco,1386,4,3,3,...,4,1,2,2,1,5,4,0,0.0,1
8,9,Female,Loyal Customer,51,Business travel,Business,2346,2,2,2,...,3,3,3,3,3,3,3,0,0.0,1
9,10,Male,Loyal Customer,8,Personal Travel,Eco,1336,2,5,2,...,5,5,5,5,4,5,5,0,0.0,0
10,11,Male,Loyal Customer,40,Personal Travel,Eco,4005,3,0,3,...,1,5,5,5,2,3,1,0,0.0,0
11,12,Female,disloyal Customer,32,Business travel,Business,1561,1,1,1,...,1,3,3,5,5,5,1,7,0.0,0
12,13,Female,Loyal Customer,45,Business travel,Business,2397,0,0,0,...,5,5,5,5,3,5,4,0,0.0,1
13,14,Female,Loyal Customer,51,Business travel,Business,3017,4,4,4,...,5,5,5,5,5,5,5,0,0.0,1
14,15,Male,disloyal Customer,23,Business travel,Business,2704,5,3,5,...,3,4,3,5,4,4,3,26,7.0,1
15,16,Female,Loyal Customer,63,Business travel,Business,3294,2,1,3,...,2,2,2,2,3,2,3,0,0.0,0
16,17,Female,Loyal Customer,70,Business travel,Eco Plus,285,4,5,5,...,4,4,4,4,1,4,1,1,1.0,0
17,18,Female,Loyal Customer,39,Business travel,Business,97,1,1,1,...,4,4,4,4,3,4,4,0,0.0,1
18,19,Female,disloyal Customer,41,Business travel,Business,1690,3,3,3,...,5,1,1,3,3,3,5,0,0.0,0
19,20,Male,disloyal Customer,26,Business travel,Business,2924,0,0,0,...,1,5,5,4,5,4,1,0,2.0,1
20,21,Male,Loyal Customer,7,Personal Travel,Eco,2029,2,4,2,...,4,4,3,4,5,4,4,1,7.0,0
21,22,Male,Loyal Customer,57,Business travel,Eco,1912,4,3,3,...,4,2,2,4,2,4,4,9,13.0,0
22,23,Female,Loyal Customer,52,Business travel,Business,676,5,5,5,...,4,4,4,4,4,4,5,0,0.0,1
23,24,Male,Loyal Customer,41,Business travel,Business,2012,3,3,3,...,3,3,3,3,2,3,3,57,49.0,0
24,25,Male,Loyal Customer,60,Business travel,Business,56,3,3,3,...,4,4,4,5,3,4,4,9,11.0,1
25,26,Female,Loyal Customer,41,Business travel,Business,571,4,4,5,...,5,5,5,5,5,5,5,11,22.0,1
26,27,Female,disloyal Customer,16,Business travel,Eco,3100,3,3,3,...,2,4,1,5,1,2,2,0,0.0,0
27,28,Female,Loyal Customer,40,Business travel,Business,3790,0,5,0,...,1,1,1,1,4,1,3,11,0.0,1
28,29,Female,disloyal Customer,18,Business travel,Eco,2656,1,1,1,...,5,4,4,5,5,4,5,0,0.0,0
29,30,Female,Loyal Customer,33,Business travel,Business,3213,2,2,3,...,5,5,5,5,5,5,5,4,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,2971,Female,Loyal Customer,36,Business travel,Business,3336,2,2,3,...,5,5,5,5,4,5,3,0,0.0,1
2971,2972,Female,Loyal Customer,35,Business travel,Eco Plus,1929,3,4,4,...,3,1,1,3,1,3,3,5,0.0,0
2972,2973,Female,Loyal Customer,42,Business travel,Business,303,0,0,0,...,3,3,3,3,5,3,3,0,0.0,1
2973,2974,Female,Loyal Customer,24,Personal Travel,Eco,3153,4,4,4,...,4,4,4,4,1,4,1,0,0.0,1
2974,2975,Female,Loyal Customer,34,Personal Travel,Eco,1370,2,2,2,...,5,5,5,5,5,5,4,0,1.0,1
2975,2976,Female,Loyal Customer,29,Personal Travel,Eco,2507,2,2,2,...,4,4,4,4,5,4,4,40,23.0,1
2976,2977,Female,disloyal Customer,44,Business travel,Business,2091,2,2,2,...,5,5,2,5,5,4,5,0,0.0,0
2977,2978,Female,Loyal Customer,10,Personal Travel,Eco Plus,1658,2,2,2,...,4,4,4,4,1,4,4,45,42.0,1
2978,2979,Female,disloyal Customer,23,Business travel,Eco Plus,1959,1,2,1,...,1,2,1,4,4,4,1,0,0.0,0
2979,2980,Female,Loyal Customer,31,Business travel,Business,1141,3,3,3,...,5,1,2,5,1,4,5,0,0.0,1
2980,2981,Male,Loyal Customer,20,Personal Travel,Eco,2767,3,4,3,...,2,3,2,4,3,5,2,0,1.0,0
2981,2982,Female,disloyal Customer,36,Business travel,Business,1360,2,1,1,...,3,5,3,5,5,5,3,0,0.0,0
2982,2983,Female,Loyal Customer,8,Personal Travel,Eco,1499,4,3,3,...,5,5,4,5,5,5,1,41,24.0,1
2983,2984,Male,Loyal Customer,26,Personal Travel,Eco Plus,3400,4,1,4,...,3,2,3,3,3,3,3,0,0.0,0
2984,2985,Male,Loyal Customer,57,Business travel,Eco,2059,4,2,2,...,4,5,2,2,2,3,4,0,0.0,1
2985,2986,Male,disloyal Customer,39,Business travel,Business,2048,1,1,1,...,3,3,3,5,3,4,3,0,0.0,0
2986,2987,Female,Loyal Customer,45,Personal Travel,Eco,982,3,3,3,...,4,4,4,4,5,4,4,0,0.0,1
2987,2988,Male,Loyal Customer,61,Personal Travel,Eco Plus,3051,1,2,1,...,4,2,1,3,2,4,4,32,71.0,0
2988,2989,Male,Loyal Customer,32,Personal Travel,Eco,1994,4,4,4,...,5,4,2,5,5,5,5,12,2.0,1
2989,2990,Female,Loyal Customer,42,Personal Travel,Eco,617,3,3,3,...,5,5,5,5,3,5,5,0,0.0,1
2990,2991,Female,Loyal Customer,11,Personal Travel,Eco,1873,2,2,2,...,4,4,4,4,5,4,3,11,16.0,1
2991,2992,Male,Loyal Customer,57,Business travel,Eco,2148,2,3,3,...,2,3,1,4,2,3,2,13,0.0,0
2992,2993,Male,Loyal Customer,29,Business travel,Eco,2711,2,3,3,...,2,4,4,2,3,3,2,10,20.0,0
2993,2994,Male,disloyal Customer,38,Business travel,Eco,1278,4,3,4,...,4,2,5,2,1,5,4,0,0.0,1
2994,2995,Female,Loyal Customer,59,Business travel,Eco Plus,682,4,1,1,...,4,4,4,4,2,4,2,0,1.0,1
2995,2996,Male,Loyal Customer,30,Personal Travel,Eco,2377,1,5,1,...,1,3,5,3,4,2,4,211,225.0,0
2996,2997,Female,disloyal Customer,24,Business travel,Eco,1643,2,4,3,...,5,2,2,4,1,3,5,20,13.0,0
2997,2998,Female,disloyal Customer,22,Business travel,Eco,1442,2,2,2,...,4,3,2,3,4,3,4,64,67.0,0
2998,2999,Female,disloyal Customer,33,Business travel,Business,2158,2,2,2,...,4,5,2,5,5,5,4,0,3.0,0
2999,3000,Female,Loyal Customer,42,Business travel,Eco,624,1,2,2,...,1,1,1,1,3,1,3,28,6.0,0

In [4]:
# train data 정보확인

df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 24 columns):
id                                   3000 non-null int64
Gender                               3000 non-null object
Customer Type                        3000 non-null object
Age                                  3000 non-null int64
Type of Travel                       3000 non-null object
Class                                3000 non-null object
Flight Distance                      3000 non-null int64
Seat comfort                         3000 non-null int64
Departure/Arrival time convenient    3000 non-null int64
Food and drink                       3000 non-null int64
Gate location                        3000 non-null int64
Inflight wifi service                3000 non-null int64
Inflight entertainment               3000 non-null int64
Online support                       3000 non-null int64
Ease of Online booking               3000 non-null int64
On-board service                     3000 non-null int64
Leg room service                     3000 non-null int64
Baggage handling                     3000 non-null int64
Checkin service                      3000 non-null int64
Cleanliness                          3000 non-null int64
Online boarding                      3000 non-null int64
Departure Delay in Minutes           3000 non-null int64
Arrival Delay in Minutes             3000 non-null float64
target                               3000 non-null int64
dtypes: float64(1), int64(19), object(4)
memory usage: 562.6+ KB

In [5]:
# 문자로 구성된 column 값들 모두 숫자로 바꿔주기

df_train[df_train.columns[df_train.dtypes=='O']] = df_train[df_train.columns[df_train.dtypes=='O']].astype(str).apply(LabelEncoder().fit_transform)

In [6]:
df_train.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,target
0,1,0,1,22,0,1,1599,3,0,3,...,4,5,4,4,4,5,4,0,0.0,0
1,2,0,0,37,0,0,2810,2,4,4,...,5,5,4,2,1,5,2,18,18.0,0
2,3,1,0,46,0,0,2622,1,1,1,...,4,4,4,4,5,4,3,0,0.0,1
3,4,0,1,24,0,1,2348,3,3,3,...,3,2,4,5,3,4,3,10,2.0,0
4,5,0,0,58,0,0,105,3,3,3,...,4,4,4,4,4,4,5,0,0.0,1

In [7]:
# train 데이터셋 -> 학습시킬값 나누기

X_train = df_train.iloc[:,1:-1]
Y_train = df_train.target

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 24 columns):
id                                   3000 non-null int64
Gender                               3000 non-null int32
Customer Type                        3000 non-null int32
Age                                  3000 non-null int64
Type of Travel                       3000 non-null int32
Class                                3000 non-null int32
Flight Distance                      3000 non-null int64
Seat comfort                         3000 non-null int64
Departure/Arrival time convenient    3000 non-null int64
Food and drink                       3000 non-null int64
Gate location                        3000 non-null int64
Inflight wifi service                3000 non-null int64
Inflight entertainment               3000 non-null int64
Online support                       3000 non-null int64
Ease of Online booking               3000 non-null int64
On-board service                     3000 non-null int64
Leg room service                     3000 non-null int64
Baggage handling                     3000 non-null int64
Checkin service                      3000 non-null int64
Cleanliness                          3000 non-null int64
Online boarding                      3000 non-null int64
Departure Delay in Minutes           3000 non-null int64
Arrival Delay in Minutes             3000 non-null float64
target                               3000 non-null int64
dtypes: float64(1), int32(4), int64(19)
memory usage: 515.7 KB

#### test 데이터 정리하기

In [9]:
df_test = pd.read_csv("test.csv", encoding='utf-8')
df_test

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,Female,Loyal Customer,61,Personal Travel,Eco,2037,1,1,1,...,5,5,5,5,5,3,5,3,51,58.0
1,2,Female,disloyal Customer,27,Business travel,Business,1846,1,1,1,...,1,1,3,4,5,4,4,1,0,0.0
2,3,Female,Loyal Customer,52,Business travel,Business,1622,4,4,4,...,4,5,5,5,5,4,5,3,0,0.0
3,4,Male,Loyal Customer,54,Business travel,Business,3534,4,4,4,...,5,2,2,2,2,5,2,1,0,0.0
4,5,Female,Loyal Customer,41,Business travel,Eco,1471,4,3,3,...,4,4,3,1,2,5,4,4,0,0.0
5,6,Female,Loyal Customer,67,Personal Travel,Eco Plus,1079,4,2,2,...,4,4,3,2,1,2,1,4,0,0.0
6,7,Female,Loyal Customer,48,Business travel,Eco,365,5,2,2,...,3,5,5,5,5,1,5,4,0,0.0
7,8,Male,Loyal Customer,59,Personal Travel,Business,1109,5,4,4,...,4,4,4,4,4,4,4,3,1,2.0
8,9,Female,Loyal Customer,47,Personal Travel,Eco,611,4,5,4,...,5,4,4,4,2,3,4,3,2,2.0
9,10,Male,Loyal Customer,20,Business travel,Business,3013,4,4,4,...,2,2,4,5,3,1,4,2,3,0.0
10,11,Male,Loyal Customer,43,Business travel,Business,2119,5,1,5,...,4,4,4,4,4,3,4,3,0,0.0
11,12,Female,Loyal Customer,19,Personal Travel,Eco Plus,1331,1,1,1,...,5,5,5,5,5,3,5,3,0,0.0
12,13,Female,disloyal Customer,33,Business travel,Business,1770,2,2,2,...,1,1,3,3,4,4,5,1,0,0.0
13,14,Male,Loyal Customer,33,Business travel,Eco,2035,3,4,1,...,3,3,2,1,2,2,2,3,0,0.0
14,15,Male,Loyal Customer,43,Business travel,Business,3620,4,4,4,...,5,4,4,5,4,5,4,4,0,0.0
15,16,Female,Loyal Customer,60,Business travel,Eco,2416,5,2,1,...,5,3,3,3,1,5,2,5,0,56.0
16,17,Male,Loyal Customer,41,Personal Travel,Eco,2350,1,5,2,...,1,4,4,4,5,3,5,4,11,3.0
17,18,Female,Loyal Customer,56,Personal Travel,Business,1435,4,4,4,...,4,5,5,4,5,4,5,4,0,0.0
18,19,Female,Loyal Customer,42,Business travel,Business,2545,2,5,5,...,4,2,2,1,2,2,2,3,0,0.0
19,20,Male,Loyal Customer,49,Business travel,Business,2870,3,5,5,...,3,3,3,3,3,3,3,4,0,0.0
20,21,Female,Loyal Customer,63,Personal Travel,Eco,1501,5,5,5,...,4,5,5,5,5,5,5,5,0,0.0
21,22,Female,Loyal Customer,49,Personal Travel,Eco,1036,1,1,1,...,5,2,2,2,2,3,2,4,0,0.0
22,23,Male,Loyal Customer,37,Business travel,Business,1954,4,4,3,...,4,4,4,4,4,4,4,3,21,16.0
23,24,Male,disloyal Customer,11,Business travel,Eco,2762,2,2,2,...,1,1,2,1,4,2,3,1,7,21.0
24,25,Female,Loyal Customer,52,Business travel,Eco,115,5,5,5,...,2,5,5,5,5,3,5,5,0,0.0
25,26,Female,Loyal Customer,42,Personal Travel,Business,470,1,1,1,...,5,5,5,5,5,5,5,5,0,0.0
26,27,Male,Loyal Customer,70,Personal Travel,Eco,2888,3,5,3,...,2,1,5,4,4,5,5,1,12,24.0
27,28,Male,disloyal Customer,50,Business travel,Business,1538,1,1,1,...,5,5,3,2,4,5,4,5,0,13.0
28,29,Male,Loyal Customer,22,Business travel,Business,5505,1,1,1,...,4,4,3,2,4,1,3,4,0,0.0
29,30,Male,disloyal Customer,36,Business travel,Business,2181,1,1,1,...,1,1,5,5,5,3,4,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,1971,Female,Loyal Customer,38,Personal Travel,Eco,1304,3,5,3,...,3,3,4,4,5,5,4,3,0,0.0
1971,1972,Male,Loyal Customer,52,Business travel,Eco,3708,3,1,2,...,3,1,4,3,4,3,3,3,0,20.0
1972,1973,Male,Loyal Customer,42,Business travel,Business,5834,5,5,5,...,4,5,3,5,5,4,4,4,129,143.0
1973,1974,Female,Loyal Customer,34,Business travel,Eco,1523,4,2,5,...,4,4,1,1,3,4,3,4,14,16.0
1974,1975,Male,Loyal Customer,47,Business travel,Business,2334,3,3,3,...,5,4,4,4,4,5,4,4,0,0.0
1975,1976,Male,disloyal Customer,13,Business travel,Eco,2186,2,2,2,...,4,4,1,2,4,3,3,4,0,0.0
1976,1977,Female,Loyal Customer,44,Business travel,Business,551,3,3,3,...,4,5,5,5,5,3,5,5,15,0.0
1977,1978,Male,Loyal Customer,59,Personal Travel,Eco,1612,2,4,2,...,2,2,1,1,4,3,3,2,0,2.0
1978,1979,Female,disloyal Customer,24,Business travel,Business,2594,1,1,1,...,2,2,3,3,3,3,3,2,4,30.0
1979,1980,Female,Loyal Customer,46,Business travel,Eco,1252,2,3,3,...,2,2,2,2,2,2,2,1,0,0.0
1980,1981,Male,Loyal Customer,40,Business travel,Eco,1772,3,3,3,...,3,3,1,1,4,1,4,3,29,49.0
1981,1982,Female,Loyal Customer,28,Business travel,Business,5303,2,1,1,...,2,2,4,5,3,1,3,2,53,109.0
1982,1983,Male,Loyal Customer,40,Business travel,Business,3193,2,2,2,...,4,5,5,5,5,4,5,5,6,0.0
1983,1984,Male,Loyal Customer,31,Business travel,Business,2088,2,2,2,...,5,5,4,4,2,3,1,5,0,0.0
1984,1985,Female,Loyal Customer,29,Business travel,Business,2741,3,3,3,...,4,4,5,1,4,3,1,4,19,8.0
1985,1986,Male,disloyal Customer,22,Business travel,Eco,2448,1,2,1,...,2,2,4,3,1,2,2,2,14,7.0
1986,1987,Female,Loyal Customer,41,Business travel,Business,111,3,4,3,...,5,5,5,5,4,4,5,3,0,0.0
1987,1988,Male,Loyal Customer,34,Personal Travel,Eco,1481,3,5,3,...,5,2,5,5,2,4,5,2,0,0.0
1988,1989,Female,Loyal Customer,41,Personal Travel,Eco,1961,4,4,4,...,4,4,3,5,4,3,4,4,52,49.0
1989,1990,Female,Loyal Customer,29,Business travel,Business,2419,4,4,4,...,4,4,3,2,5,4,4,4,0,3.0
1990,1991,Male,Loyal Customer,14,Personal Travel,Eco,3949,3,1,2,...,1,1,2,5,4,2,3,1,0,0.0
1991,1992,Male,disloyal Customer,20,Business travel,Eco,1461,2,2,2,...,5,5,3,5,3,1,4,5,0,2.0
1992,1993,Male,Loyal Customer,39,Personal Travel,Eco,1560,2,4,2,...,3,2,3,1,3,3,3,2,41,41.0
1993,1994,Female,disloyal Customer,22,Business travel,Business,3873,2,2,2,...,5,5,2,5,3,4,3,5,0,0.0
1994,1995,Female,Loyal Customer,24,Business travel,Business,4630,2,2,2,...,4,4,5,3,5,4,4,4,0,0.0
1995,1996,Female,Loyal Customer,62,Business travel,Eco Plus,54,3,1,1,...,4,3,3,3,3,3,3,1,0,0.0
1996,1997,Female,Loyal Customer,33,Business travel,Business,1937,4,4,4,...,5,5,5,5,5,1,5,3,95,99.0
1997,1998,Male,Loyal Customer,29,Business travel,Eco,2398,3,5,4,...,3,3,1,2,3,4,2,3,0,3.0
1998,1999,Female,Loyal Customer,51,Personal Travel,Business,406,5,2,5,...,3,2,2,5,2,2,2,2,87,83.0
1999,2000,Female,Loyal Customer,46,Personal Travel,Eco Plus,436,5,5,5,...,1,4,4,4,4,5,4,3,0,0.0

In [10]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
id                                   2000 non-null int64
Gender                               2000 non-null object
Customer Type                        2000 non-null object
Age                                  2000 non-null int64
Type of Travel                       2000 non-null object
Class                                2000 non-null object
Flight Distance                      2000 non-null int64
Seat comfort                         2000 non-null int64
Departure/Arrival time convenient    2000 non-null int64
Food and drink                       2000 non-null int64
Gate location                        2000 non-null int64
Inflight wifi service                2000 non-null int64
Inflight entertainment               2000 non-null int64
Online support                       2000 non-null int64
Ease of Online booking               2000 non-null int64
On-board service                     2000 non-null int64
Leg room service                     2000 non-null int64
Baggage handling                     2000 non-null int64
Checkin service                      2000 non-null int64
Cleanliness                          2000 non-null int64
Online boarding                      2000 non-null int64
Departure Delay in Minutes           2000 non-null int64
Arrival Delay in Minutes             2000 non-null float64
dtypes: float64(1), int64(18), object(4)
memory usage: 359.5+ KB

In [11]:
# 문자로 구성된 column 값들 모두 숫자로 바꿔주기

df_test[df_test.columns[df_test.dtypes=='O']] = df_test[df_test.columns[df_test.dtypes=='O']].astype(str).apply(LabelEncoder().fit_transform)

In [12]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
id                                   2000 non-null int64
Gender                               2000 non-null int32
Customer Type                        2000 non-null int32
Age                                  2000 non-null int64
Type of Travel                       2000 non-null int32
Class                                2000 non-null int32
Flight Distance                      2000 non-null int64
Seat comfort                         2000 non-null int64
Departure/Arrival time convenient    2000 non-null int64
Food and drink                       2000 non-null int64
Gate location                        2000 non-null int64
Inflight wifi service                2000 non-null int64
Inflight entertainment               2000 non-null int64
Online support                       2000 non-null int64
Ease of Online booking               2000 non-null int64
On-board service                     2000 non-null int64
Leg room service                     2000 non-null int64
Baggage handling                     2000 non-null int64
Checkin service                      2000 non-null int64
Cleanliness                          2000 non-null int64
Online boarding                      2000 non-null int64
Departure Delay in Minutes           2000 non-null int64
Arrival Delay in Minutes             2000 non-null float64
dtypes: float64(1), int32(4), int64(18)
memory usage: 328.2 KB

In [13]:
# 학습시킬값 나누기

X_test = df_test.iloc[:,1:]

### 머신러닝으로 예측하기

#### 랜덤포레스트

In [14]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier()     
classifier.fit(X_train, Y_train)

RandomForestClassifier()

In [15]:
prediction = classifier.predict(X_test)   # 예측
print(prediction)

[1 0 1 ... 0 1 1]